.body{
    background:#ccc
  }

.load{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:100px;
  height:100px;
}

.load hr{
border:0;
margin:0;
width:40%;
height:40%;
position:absolute;
border-radius:50%;
animation:spin 2s ease infinite;
}

.load :first-child{background:#c71585;animation-delay:-1,5s}
.load :nth-child(2){background:#0000FF;animation-delay:-1s}
.load :nth-child(3){background:#00EE00;animation-delay:-0,5s}
.load :last-child{background:#FFD700}

@keyframes spin{
0%,100%{transform:translate(0)}
25%{transform:translate(160%)}
50%{transform:translate(160%, 160%)}
75%{transform:translate(0, 160%)}
}
background-color: #829690;
color: #000000;
margin: 10px;
padding: 5px;
display: flex;
border: 5px solid hsl(195, 2%, 41%);
border-radius: 30px; 
width: 700px;  
img{
border: 2px#555353;
border-radius: 30px;  
height: 175px;
    width: 150px;
    float: left;
    padding: 20px;
    margin: 0px 20px 10px 0;
    max-width: 186px;