*{

}
root{
    --cor-de-fundo: rgb(0, 0, 0);
    --cor-de-texto: #304030;
   
}
h1{
    color: var(--cor-de-texto);
}
body{
    background-color:var(--cor-de-fundo)
    color:var(--cor-de-texto);
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
hearder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

element.style {
    border: 3px solid #66696a;
    border-radius: 30px;
}
section{  
    background-color: #829690;
    color: #000000;
    margin: 15px;
    padding: 10px;
    display: flex 
    border: 3px solid #66696a;
    border-radius: 30px;
    
}
    
div{
    margin:0 10px 0 0;
    }
logo{
    width: 10%;
}
section.equipe{
   
        img {
            width: 100px;
            height: 100px;
            object-fit: fill;
          }
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #66696a;
    border-radius: 30px;
.container img {
    max-width:10px;
    max-height:10px;
    width: auto;
    height: auto;
}
}



