*{

}
root{
    --cor-de-fundo: rgb(222, 224, 228);
    --cor-de-texto: #000000;
}
h1{
    color: var(--cor-de-texto);
}
body{
    background-color: rgb(216, 216, 216);
    color:var(--cor-de-texto);
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
hearder {
    display: flex;
    justify-content: space-around;
    align-items: center;
    img{
        height: 50px;
        width: 50px;
        float: left;
        border: transparent thin solid;
        padding: 20px;
        margin: 0px 20px 10px 0;
        max-width: 186px;

    }
    }

element.style {
    border: 3px solid #66696a;
    border-radius: 30px;
}
img.torre.torta{
    height: 23px;
    width: 23px;
    float: left;
    border: transparent thin solid;
    padding: 15px;
    margin: 0px 10px 10px 0;
    max-width: 186px;
}

section.Pisa{  
    background-color: #829690;
color: #000000;
margin: 10px;
padding: 5px;
display: flex;
border: 5px solid hsl(195, 2%, 41%);
border-radius: 30px; 
width: 700px;  
.container img {
    max-width:10px;
    max-height:10px;
    width: auto;
    height: auto;
        }
    img {
        width: 100px;
        height: 100px;
        object-fit: fill;
        border: 3px solid #000000;
        border-radius: 30px;
      }
}
section.piramide{
    background-color: #829690;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #525455;
    border-radius: 30px;

}   
logo{
    width: 10%;
}
section.equipe{
    background-color: #829690;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid #525455;
    border-radius: 30px;
.container img {
    max-width:10px;
    max-height:10px;
    width: auto;
    height: auto;
        }
    img {
        width: 100px;
        height: 100px;
        object-fit: fill;
        border: 3px solid #66696a;
        border-radius: 30px;
      }
}




